.project
/app/config/database.php
/app/tmp/cache/*
/app/tmp/logs/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/webroot/files/uploads/*
/app/webroot/img/uploads/*
/app/webroot/img/uploads/50x50/*
/app/webroot/img/uploads/100x100/*
/app/webroot/img/uploads/200x200/*
/app/webroot/img/uploads/400x400/*
/app/webroot/img/uploads/640x480/*
/app/webroot/img/uploads/custom/*
